button {
  padding: 16px 32px;
  color: #313131;
  background-color: white;
  border: 2px solid black;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.item-details h2 {
  margin-bottom: 10px;
  margin-left: 200px;
}

.product-info {
  margin-top: 20px;
  font-size: 18px;
  margin-left: 10px;
}

.product-info > .sum {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  width: 50%;
  position: relative;
  margin-left: 10px;
}

.detail {
  margin-top: 100px;
}
li {
  margin-left: 10px;
  position: relative;
}

ol {
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0 2px 8px rgba(126, 96, 96, 0.25);
  border-radius: 14px;
  background-color: white;
  width: 50%;
  position: relative;
  text-align: left;
}

.active {
  background: linear-gradient(35deg, #494949, #313131);
  color: white;
}
