.search {
  width: 100%;
  position: relative;
  margin-top: 120px;
  margin-bottom: 40px;
  margin-left: 400px;
  margin-right: auto;
}

.search > input {
  outline: none;
  background: linear-gradient(35deg, #494949, #313131);
  flex: 1;
  margin-left: 15px;
  font-size: 24px;
  border: none;
  color: white;
  padding: 16px 48px;
  border-radius: 16px;
  width: 60%;
}

.search-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  margin-top: -35px;
}

.search-logo > i {
  position: relative;
  margin-left: 2200px;
}

.search-logo > i > svg {
  position: relative;
  top: 50%;
  right: 21%;
  transform: translate(100%, -50%);
  color: white;
}

/* .search {
  width: 100%;
  position: relative;
  margin: 0 320px;
  margin-top: 100px;
}

.search > input {
  outline: none;
  background: linear-gradient(35deg, #494949, #313131);
  flex: 1;
  margin-left: 15px;
  font-size: 24px;
  border: none;
  color: white;
  padding: 16px 48px;
  border-radius: 16px;
  width: 60%;
}

.search-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2d;
  width: 50px;
  height: 100%;
}

.search-logo > i {
  margin-right: 5px;
}

.search-logo > i > svg {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(100%, -50%);
  color: white;
} */
